.input-container{
  display: flex;
  flex-direction: column;

  align-items: center;

  background-color:lightblue;

  width: 75%;

  margin: 1em;
  padding: 2em;

  border-radius: 15px;
  border-style:solid;

}

.error-msg{
  color: red;
  margin: 0;
  margin-top: 1.5rem;
}