.result-container{
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 1em;
}

.result{
  background-color:slategray;
  border-radius: 15px;

  padding: .85em;

  text-align: center;

  width: 200px;
}