.operation-container{
  display: flex;
  justify-content: center;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.operation{
  margin: auto;
  padding-right: 5%;
  padding-left: 5%;
}

input{
  background-color: #59981A;
  text-align: center;

  color: white;
}
